:root{
  --text-color:#000000;
  --text-second-color:#333333;
  --bg-color:#ffffff;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
  url('../fonts/roboto-v30-latin-700.woff') format('woff');
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  color: var(--text-color);
}

.site-header{
  width: 100%;
  background-image: url("../images/first-bgimg.png");
  background-position: center;
  background-size: cover;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

.header-top{
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.site-logo{
  margin-right: auto;
}

.site-logo-img{
  display: block;
  margin-right: auto;
}
.nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link{
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  color: var(--text-second-color);
  text-transform: uppercase;
  text-decoration: none;
}

.nav-item:not(:first-child){
  margin-left: 40px;
}

.intro{
  width: 100%;
  background-image: url("../images/first-bgimg.png");
  background-position: center;
  background-size: cover;
}

.intro-main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
}

.intro-info{
  width: 464px;
  margin: 0;
  padding: 0;
}

.intro-info-title{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}

.intro-info-text{
  margin: 24px 0 34px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

.intro-link{
  display: inline-block;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  background-color: #0A775F;
  color: var(--bg-color);
  border-radius: 100px;
  text-decoration: none;
}

.intro-pictures{
  position: relative;
  top:4px;
  left: 89px;
}

.intro-pictures:before{
  content: "";
  position: absolute;
  top: -72px;
  left: -62px;
  width: 160px;
  height: 160px;
  background-image: url("../images/alfred.png");
  background-position: center ;
}

.collection{
  width: 100%;
  background-color: var(--bg-color);
}

.for-bg-img{
  margin: 20px;
  padding: 50px 0;
  background-image: url("../images/seconnd-bgimg.png");
  background-position: center;
  background-size: cover;
}

.collection-title{
  margin: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
}

.coffee-type-list{
  width: 1020px;
  margin: 0 auto;
  padding: 0;
}

.coffee-type-item{
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.coffee-type-item:nth-child(even){
  flex-direction: row-reverse;
}

.coffee-type-item:nth-child(2), .coffee-type-item:nth-child(4){
  position: relative;
}

.coffee-type-item:nth-child(1):before{
  position: absolute;
  top: -30%;
  left: -35%;
  width: 402px;
  height: 300px;
  background-image: url("../images/first-leaf.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.coffee-type-item:nth-child(2)::after{
  position: absolute;
  top: 36%;
  right: -44%;
  width: 392px;
  height: 477px;
  background-image: url("../images/second-leaf.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.coffee-type-item:nth-child(4):before{
  position: absolute;
  top: -7%;
  left: -41%;
  width: 316px;
  height: 269px;
  background-image: url("../images/third-leaf.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.coffee-type-item:nth-child(even)  .coffee-type-img{
  margin-left: 117px;
}

.coffee-type-item:nth-child(odd) .coffee-type-img{
  margin-right: 117px;
}


.coffee-type-item:nth-child(1)
.coffee-type-info{
  width: 452px;
}

.coffee-type-item:nth-child(2)
.coffee-type-info{
  width: 390px;
}
.coffee-type-item:nth-child(3)
.coffee-type-info
{
  width: 390px;
}

.coffee-type-item:nth-child(4)
.coffee-type-info {
  width: 410px;
}

.coffee-type-info-title{
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: var(--text-second-color);
  text-transform: uppercase;
}

.coffee-type-info-text{
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: var(--text-second-color);
}

.choose-us{
  position: relative;
  margin: 20px;
  padding-top: 50px;
  padding-bottom: 500px;
  background-image: url("../images/third-bgimg.png");
  background-position: center;
  background-size: contain;
}

.choose-us-top{
  width: 581px;
  margin: 0 auto;
  text-align: center;
}

.choose-us-title{
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: var(--bg-color);
  text-transform: uppercase;
}

.choose-us-text{
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--bg-color);
  opacity: 0.8;
}

.choose-us-list{
  position: absolute;
  top: 41%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.choose-us-item{
  width: 433px;
  color: var(--text-second-color);
}

.choose-us-item:nth-child(1)::before{
  position: absolute;
  top: -8%;
  left: -4%;
  width: 140px;
  height: 144px;
  background-image: url("../images/but-first-coffe-icon.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.choose-us-item:not(:last-child){
  margin-right: 20px;
}

.choose-us-item-title{
  margin-top: 28px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.choose-us-item-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.how-it-work{
  margin: 0 20px;
  margin-top: 289px;
  margin-bottom: 50px;
  background-image: url("../images/fourth-bg-img.png");
  background-position: center;
  background-size: cover;
}

.how-it-work-info{
  position: relative;
  margin: 0;
  padding: 50px 0;
}


.how-it-work-title{
  position: relative;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: var(--bg-color);
  text-transform: uppercase;
}

.how-it-work-title::before{
  position: absolute;
  content: "";
  top:1%;
  right:3%;
  width: 215px;
  height: 150px;
  background-image: url("../images/but-first-coffee-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.boxes{
  width: 966px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px dashed #C99B67;
}

.box-item{
  position: relative;
  top:25px;
  padding: 26px;
  background-color: #F8F8F2;
  border: 4px solid #C99B67;
  border-radius: 4px;
}

.how-it-work-list{
  margin: 0;
  margin-top: 45px;
  margin-bottom: 60px;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.how-it-work-item{
  width: 453px;
  padding-top: 20px;
  padding-right: 28px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-color: #F8F8F2;
  color:var(--text-second-color)
}

.how-it-work-item:not(:last-child){
  margin-right: 20px;
}

.number{
  display: block;
  text-align: right;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: var(--text-second-color);
  opacity: 0.8;
}

.how-it-work-theme{
  width: 231px;
}

.how-it-work-item-title{
  margin-top: 45px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.how-it-work-item-text{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.work-link{
  display: flex;
  justify-content: center;
}

.how-it-work-link{
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  background-color: #C99B67;
  color: #FFFFFF;
  border-radius: 100px;
  text-decoration: none;
}

.site-footer{
  width: 100%;
  background-image: url("../images/first-bgimg.png");
  background-position: center;
  background-size: cover;
}

.footer-info{
  display: flex;
  align-items: center;
  padding: 65px 0;
}

.ft-link{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--text-second-color);
  text-decoration: none;
}

.social-media{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.social-media-item:not(:last-child){
  margin-right: 30px;
}

.social-media-icon{
  display: block;
}

.about{
  width: 372px;
}


.over-component{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 110px;
  padding-bottom: 150px;
}

.over-component::before{
  position: absolute;
  top: 0%;
  left: -18%;
  width: 402px;
  height: 300px;
  background-image: url("../images/first-leaf.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}

.component-info{
  margin-left: 185px;
  width: 626px;
}

.component-title{
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.component-text{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color);
  mix-blend-mode: normal;
  opacity: 0.8;
}

.uncompromising-quality{
  margin:20px;
  margin-top: 160px;
  background-image: url("../images/third-bgimg.png");
}

.quality{
  position: relative;
  display: flex;
  align-items: center;
}

.quality-info{
  width: 729px;
  color: var(--bg-color);
  padding-top: 100px;
  padding-bottom: 118px;
  padding-left: 90px;
}

.quality-title-box{
  width: 397px;
}

.quality-title{
  margin: 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: var(--bg-color);
}

.quality-text{
  margin: 0;
  margin-top: 24px;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  line-height: 2;
  color: var(--bg-color);
  mix-blend-mode: normal;
  opacity: 0.8;
}


.quality-img{
  position: absolute;
  top:-14%;
  right: 1%;
}

.our-headquarters{
  margin: 20px;
  background-image: url("../images/fourth-bg-img.png");
}

.quarters-info{
  padding-top: 50px;
  padding-bottom: 100px;
}

.quarters-title{
  width: 431px;
  margin: 0 auto;
}


.headquarters-list{
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  list-style: none;
}


.headquarters-item{
  position: relative;
  width: 433px;
  margin: 0;
  padding: 0 55px 40px 20px;
  background-color: #F8F8F2;
  color: var(--text-second-color)
}

.headquarters-item:first-child{
  padding-top: 140px;
}

.headquarters-item:not(:first-child){
  padding-top: 187px;
}

.headquarters-item:not(:last-child){
  margin-right: 20px;
}

.quarters-item-title{
  width: 231px;
  margin: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.quarters-item-text{
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.headquarters-item:nth-child(1)::before{
  position: absolute;
  top: 7%;
  right: 7%;
  width: 120px;
  height: 143px;
  background-image: url("../images/uk-img.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.headquarters-item:nth-child(2)::before{
  position: absolute;
  top: 7%;
  right: 7%;
  display: inline-block;
  width: 120px;
  height: 120px;
  background-image: url("../images/canada.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.headquarters-item:nth-child(3)::before{
  position: absolute;
  top: 7%;
  right: 7%;
  display: inline-block;
  width: 120px;
  height: 107px;
  background-image: url("../images/australia.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}